.suggest img {
  border-radius: 20px;
}
.suggest::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.primary-content h3,
.secondary-content h3 {
  font-size: 1.875rem;
}

div .primary-content a,
div .secondary-content a {
  text-decoration: underline;
  color: #5ebbd4;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 660px) {
  .suggest > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .suggest > div {
    grid-template-columns: repeat(1, 1fr);
  }
}
