@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div::-webkit-scrollbar {
  display: none;
}

.list-disc {
  list-style: disc;
}

.list-decimal {
  list-style: decimal;
}

.text-lg {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.margin-top-16 {
  margin-top: 1rem;
}

.margin-top-32 {
  margin-top: 2rem;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-bottom-32 {
  margin-bottom: 2rem;
}

.margin-bottom-top-16 {
  margin-block: 1rem;
}

.margin-bottom-top-32 {
  margin-block: 2rem;
}

.margin-right-left-16 {
  margin-inline: 1rem;
}

.margin-right-left-32 {
  margin-inline: 2rem;
}

.margin-left-16 {
  margin-left: 1rem;
}

.margin-left-32 {
  margin-left: 2rem;
}

.margin-right-16 {
  margin-right: 1rem;
}

.margin-right-32 {
  margin-right: 2rem;
}

.padding-top-16 {
  padding-top: 1rem;
}

.padding-top-32 {
  padding-top: 2rem;
}

.padding-bottom-16 {
  padding-bottom: 1rem;
}

.padding-bottom-32 {
  padding-bottom: 2rem;
}

.padding-bottom-top-16 {
  padding-block: 1rem;
}

.padding-bottom-top-32 {
  padding-block: 2rem;
}

.padding-right-left-16 {
  padding-inline: 1rem;
}

.padding-right-left-32 {
  padding-inline: 2rem;
}

.padding-left-16 {
  padding-left: 1rem;
}

.padding-left-32 {
  padding-left: 2rem;
}

.padding-right-16 {
  padding-right: 1rem;
}

.padding-right-32 {
  padding-right: 2rem;
}

.padding-internal {
  padding: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.p2 {
  padding: 0.5rem;
}

.p3 {
  padding: 0.75rem;
}

.p4 {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
  font-weight: initial;
}
