.slide {
  position: relative;
}
.slide div,
.slide img {
  border-radius: 0px;
}

.slide button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 99;
}

@media (max-width: 400px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
  }
}
